[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.95.1"
uvicorn = {extras = ["standard"], version = "*"}
fastapi-crudrouter = {editable = true, git = "https://github.com/hieubq90/fastapi-crudrouter"}
sqlalchemy = "*"
alembic = "*"
pytz = "*"
sqlmodel = "*"
psycopg2-binary = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
